* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    margin: 0 auto;
    justify-content: center;
}
canvas{
    margin: 10px;
    width: 95vw;
    height: 95vh;
    background-color: rgb(185, 159, 159);
    display: flex;
    box-shadow: 0 0 10px;
}
