* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    justify-content: center;
    align-items: center;
    color: #fff;
}

#trocador-cores{
    margin: 20px;
    border: 2px solid #fff;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 10px 10px 20px #000;
    text-align: center;
}

#trocador-cores h2{
    margin: 20px;
    font-size: 2rem;
}

#trocador-cores button{
    margin: 20px;
    padding: 20px;
    font-size: 1.2rem;
    border-radius: 10px;
    cursor: pointer;
}
#trocador-cores button:hover{
    background-color: #777880;
    color: #fff;
    border: 2px solid #fff;
}